<div class="flex p-4 space-x-4 items-start shadow-xl rounded-md bg-white w-auto min-w-0">
  <div class="relative w-16 h-24 bg-primary rounded-lg overflow-hidden">
    <div class="absolute inset-0 flex items-center justify-center">
      <div [ngClass]="{'bg-primary': gamesService.isGameAdded(deck.id), 'bg-white': !gamesService.isGameAdded(deck.id)}"
           (click)="gamesService.playGames(deck)" class="w-12 h-16 cursor-pointer rounded-full flex items-center justify-center">
        <p [ngClass]="{'text-white': gamesService.isGameAdded(deck.id)}"
           class="text-black text-xl font-semibold select-none">{{deck.cardsCount}}</p>
      </div>
    </div>
  </div>
  <div class="flex-1">
    <div class="flex items-center">
      <h2 (click)="playGame(deck)"
          class="text-black font-semibold cursor-pointer text-xl line-clamp-1 break-all underline">
        {{deck.title}}
      </h2>
      <div class="ml-auto">
        <button type="button" [routerLink]="[deck.id, 'edit']">edit</button>
        <button type="button" (click)="deleteDeck(deck.id)">delete</button>
      </div>
    </div>
    <p class="mt-1 text-gray-400 text-sm break-words overflow-hidden line-clamp-3">{{deck.description}}</p>
  </div>
</div>
