@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/open-sans";

html, body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: scroll;
}

body {
  font-family: "Open Sans", sans-serif;
  @apply bg-gray-50 text-gray-700;
}
