<form (ngSubmit)="save()" [formGroup]="form">
  <div>
    <label>Title</label>
    <input type="text" formControlName="title">
  </div>
  <div>
    <label>Description</label>
    <input type="text" formControlName="description">
  </div>
  <button type="button" (click)="addNewCard()">Add new card</button>
  <button type="submit">Save</button>
<!--  justify-center-->
  <div formArrayName="cards" class="flex flex-wrap">
    <div *ngFor="let _ of cards.controls; let i = index" class="p-1.5 flex items-center">
      <app-card [cardsForm]="getCardsControl(i)" [showRemoveButton]="cards.length > 1" (remove)="removeCard(i)"></app-card>
    </div>
  </div>
</form>
